.p-1 {
    display: inline-block;
}

.p-1::first-letter {
    font-size: 120px;
    color: crimson;
}

.p-2::first-line {
    font-size: 60px;
    color: gold;

}

.p-3::after{
    content:"♥♥♥♥";
    color: red;
    margin-left: 10px;
    font-size: 30px;
}
.p-3::before{
    content:"♥♥♥♥";
    color: red;
    margin-right: 10px;
    font-size: 30px;
}

.p-tooltip span[data-descr] {
    cursor:help;
    text-decoration: underline;
    color: mediumvioletred;
    position: relative ;

}
.p-tooltip span[data-descr]:hover::after{
    content: attr(data-descr);
    position: absolute;
    left: 0%;
    top: 25px;
    background-color: rgb(170, 169, 169);
    border-color: 11px black, solid; 
    border-radius: 10px;
    color: black;
    padding: 12px;
    font-size: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 120px;
}

.input-placeholder::placeholder{
    color: blue;

}